@media only screen and (max-width: 768px){
	h3,h2 {
		font-size: 18px!important;
	}	
	.navbar {
		display: none;
	}
	.header {
		min-height: 50vh;
	}
	#timer .rounder {
		left: 20%;
		width: 60%;
	}
	.img__box__header {
		display: none;
	}
	.header .content__header {
		padding: 80px 10px 10px;
		position: relative;
		z-index: 1;
		width: 100%;
		top: 0;
		left: 0;
	}
	section .sec__desc, .sec__desc {
		width: 70%;
	}
}
@media only screen and (max-width: 480px){
	#timer .rounder {
		left: 5%;
		width: 90%;
	}
	.header .content__header {
		padding: 10px 10px;
	}
	section .sec__desc, .sec__desc {
		width: 90%;
	}	
	.ig{
		height: 150px;
	}
}