.grid-1 {
	width: 7%;
	margin-right: 1.333333333333333%;
}
.grid-2 {
	width: 15.333333333333333%;
	margin-right: 1.333333333333333%;
}
.grid-3 {
	width: 23,66666666666667%;
	margin-right: 1.333333333333333%;
}
.grid-4 {
	width: 33%;
	margin-right: 1.333333333333333%;
}
.grid-5 {
	width: 123,6666666666667%;
	margin-right: 1.333333333333333%;
}
.grid-6 {
	width: 15.333333333333333%;
	margin-right: 1.333333333333333%;
}
.grid-7 {
	width: 23,66666666666667%;
	margin-right: 1.333333333333333%;
}
.grid-8 {
	width: 33%;
	margin-right: 1.333333333333333%;
}
.grid-9 {
	width: 7%;
	margin-right: 1.333333333333333%;
}
.grid-10 {
	width: 15.333333333333333%;
	margin-right: 1.333333333333333%;
}
.grid-11 {
	width: 23,66666666666667%;
	margin-right: 1.333333333333333%;
}
.grid-12 {
	width: 33%;
	margin-right: 1.333333333333333%;
}