body{
	font-family: fantasy;
}

.board {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #fff;
}

.bannerMulai,.bannerSelesai {
	position: absolute;
	top: 250px;
	left: 200px;
	color: #fff;
	font-size: 18px;
	text-align: center
}
.bannerSelesai{
	display: none;
}

#btnMulai,#btnUlangi {
	color: red;
	cursor: pointer;
}

#canvas {
	background-image: url('back.jpg');
	width: 600px;
	height: 600px;

}