body{
	font-family: 'Prompt';
	font-family: 12px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Segoe UI';
}


.nav {
	padding: 20px 0;
}

.topContainer {
	background-color: #3939AA;
	color: #fff;
	padding: 15px;
	font-size: 9px;
}


#header {
	background-image: url('../assets/header.png');
	background-color: #fff;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	position: relative;
}

#header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	background-image: url('../assets/background.png');
	background-size: cover;
}


.nav-link {
	color: #fff;
	padding: 10px 20px;
}
.nav-link:hover {
	color: #ddd;
}

section {
	min-height: 100vh;
}


#box-unggul {
	transform: translate(0,-30%);
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}


.box__unggul:hover {
	box-shadow: 0 0 20px #ddd;
}
.box__unggul {
	box-shadow: 0 0 10px #ddd;
	padding: 20px;
	background-color: #fff;
	text-align: center;
}

.box__unggul .label {
	/*font-family: 'Tw Cen';*/
	font-weight: bold;
	font-size: 18px;
}

.box__unggul .desc {
	color: #aaa;
	font-size: 12px;
}

.sec__label {
	color: #65A9Fa;
	font-size: 14px;
}
.sec__title {
	font-family: 'Segoe UI';
	font-size: 32px;
	color: #444;
	font-weight: bold;
}



.about__desc {
	color: #aaa;
	font-size: 12px;
	width: 70%;
}


#product{
	background-image: url('../assets/background-product.png');
	background-size: cover;
}


.product__box:hover {
	box-shadow: 0 0 15px #aaa;
	transition: 1s;
}
.product__box {
	box-shadow: 0 0 5px #ddd;
	background-color: #fff;
	transition: 1s;
}
.product__box img {
	height: 200px;
	margin: auto;
	display: block;
}


.product__box .content {
	padding: 20px 10px;
	text-align: center;
}

.product__box .content .title {
	font-family: 'Segoe UI';
	font-size: 24px;
	font-weight: bold;
}
.product__box .content .desc {
	font-size: 12px;
	color: #aaa;
}


div.bg-blue {
	background-color: #343474;
	min-height: 50vh;
}
.bg-blue {
	background-color: #343474;
}

.bg-blue-light {
	background-color: #343486;
}
.bg-blue-dark {
	background-color: #343465;
}

form.email {
	background-color: #fff;
	border: 1px solid #222;
	/*display: flex;*/
	padding: 0;
	border-radius: 10px;
}
form.email input {
	border: 0;
	height: 40px;
	border-radius: 10px;
	width: 70%;
	color: #777;
	/*float: left;*/
}

form.email input:focus,
form.email button:focus{
	outline: none;
}
form.email button {
	float: right;
	height: 40px;
	background-color: #222;
	color: #fff;
	border-radius: 10px;
	transform: translate(1px ,0);
}

.tb {
	font-weight: bold;
}

.box__pricing {
	border: 1px solid #aaa;
	padding: 20px;
	font-size: 12px;
	color: #aaa;
}

.box__pricing.utama::before {
	content: '';
	border-width: 70px;
	border-style: solid;
	border-color: #ADBCFA #ADBCFA transparent transparent;
	/*transform: rotate(315deg);*/
	position: absolute;
	top: 0px;
	right: 0px;
}
.box__pricing.utama::after {
	content: 'Best Pricing';
	position: absolute;
	transform: rotate(45deg);
	bottom: 90%;
	color: #fff;
	z-index: 1;
	right: 10px;
}
.box__pricing.utama {
	border-top: 10px solid #ADBCFA;
	position: relative;
}

.box__pricing.utama button {
	background-color: #ADBCFA;
	color: #fff;
}

.box__pricing .title {
	font-size: 18px;
	font-family: 'Segoe UI';
	font-weight: bold;
	color: #222;
	padding: 10px 0;
}

.box__pricing .price{
	font-size: 16px;
}
.box__pricing .price b {
	color: #3434A3;
	font-size: 48px;
	font-family: 'Segoe UI';
	font-weight: bold;
}


.box__pricing ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #444;
}

.box__pricing ul li {
	padding: 10px;
}

.box__pricing button {
	border: 0;
	border-radius: 20px;
	background-color: #DDDDDD;
	color: #333;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 20px;
}

.box__pricing button:focus {
	outline: none;
}





 p {
 	margin-bottom: 10px; 
 }





#team {
	background-color: #f0fbf6;
	min-height: 50vh;
	padding: 20px;
}

.team_relative {
	position: relative;
}

.panah-carousel a:hover {
	text-decoration: none;
}
.panah-carousel a {
	background-color: #f0fbf6;
	padding: 10px 15px;
	color: #444;
	border-radius: 10px;
	box-shadow: 0 0 5px #aaa;
	margin-right: 10px;
}
.panah-carousel {
	position: absolute;
	top: 0;
	right: 0;
}


.team__box {
	text-align: center;
}

.team__box .title {
	padding: 10px 0 0;
	font-family: 'Segoe UI';
	font-size: 24px;
	font-weight: bold;
}

.team__box .desc {
	color: #aaa;
}


footer {
	background-color: #233265;
	color: #fff;
	font-size: 12px;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer ul li {
	padding: 5px 0 0;
}


footer ul li a:hover {
	color: #fff;
	text-decoration: none;
}

footer ul li a {
	color: #ddd;
	font-size: 12px;
}

footer hr {
	color: #fff;
	background-color: #fff;
}


footer .desc {
	color: #ddd;
	font-size: 12px;
	padding: 20px 0 10px
}


#header .content {
	width: 50%;
	margin: auto;
	padding: 30px 0;
	display: block;
	text-align: center;
	color: #fff;
	z-index: 2;
	position: relative;
}

.toTop:hover, 
.toTop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 10px;
	background-color: #2332F1;
	color: #fff;
}

.mediasocial {
	color: #fff;
}

#header .content .content__label {
	font-family: 'Segoe UI';
	font-size: 18px;
	font-weight: bold;
}


#header .content .content__title {
	font-family: 'Segoe UI';
	font-weight: bold;
	font-size: 38px;
}

.btn-default {
	background-color: #fff;
}


